* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background:#FF9800;
}

.start_btn, 
.info_box,
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start quiz styling*/
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #FF0033;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #F5F5F5;
    cursor: pointer;
}
/*info box styling*/
.info_box {
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
}

.info_box, .info_tittle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin:  5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: rgb(25, 134, 236)
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top:1px solid black;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.quit:hover {
    background: burlywood;
}

.buttons button.restart:hover{
    background: burlywood;
}

.buttons button.quit {
    color:rgb(25, 134, 236);
    border-color: rgb(25, 134, 236);
}

.buttons button.restart {
    color:rgb(25, 134, 236);
    border-color: rgb(25, 134, 236);
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quiz_box header {
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: skyblue;

}
